.body {
  width: 100%;
  min-height: 100vh;
  border: 3px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  label {
    margin: 0 0 1rem;
  }

  input,
  textarea {
    margin: 0 0 2.5rem;
  }
}
